{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{% block "title" %}{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="{% static "frontend/css/styles.css" %}" />
		<script src="{% static "frontend/js/vendor/modernizr-2.6.2.js" %}"></script>
	</head>

	<!--

	Social network integration is handled by django-allauth

	see https://github.com/pennersr/django-allauth

	-->

	<body>
		<div class="layoutWrapper">
			<!-- show the username of the logged in LOCAL user  -->
			<span>
				{% if user.is_authenticated %}

					{{ user.first_name }} {{ user.last_name }} ({{ user }})

				{% else %}

					<a href="/accounts/login/?next=/">Sign in</a>

				{% endif %}
			</span>




			{% if user.is_authenticated %}
				<div>
					<a href="{% url 'django.contrib.auth.views.logout' %}?next=/">Sign Out</a>
				</div>
			{% endif %}



			<ol>
				<li><a href="{% url 'main_home' %}">Home</a></li>
				<li><a href="{% url 'main_friends' %}">Friends</a></li>
			</ol>



			<div class="layoutMain">
				<div class="contentWrapper">
					{% block "maincontent" %}
					{% endblock %}
				</div>
			</div>

		</div>
	</body>
</html>
