 <h1>Names</h1>
 
 <ul>
    <% _.each(names, function (name) { %>
    <li>
      <div>id: <%= name.id %></div>
      item: <%= name.label %></li>
    <% }) %>
  </ul>
 
 
 
 <hr/>
 

   <ul id="nameList"></ul>
   
   
 
 
 <div id="addUser">
   <input id="label" />
   <button class="add">Add</button>
   
 </div>